.clientRoot {
    margin: 50px auto 30px;
    border: 1px solid rgba(7, 53, 66, 0.5);
    border-radius: 3px;
    padding: 20px;
}
.title {
    padding-bottom: 40px;
    font-size: 18px;
    font-family: "Playfair Display";
}
.title hr {
    width: 3%;
    float: left;
    border: 2px solid rgb(250, 208, 23);
    border-radius: 5px;
}
.clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around  
}

.clients div {
    padding: 20px;
}

.clients img {
    width: 150px;
    height: 100px;
}



