.container {
    margin: 20px auto;
    width: 80%;
}

.hr {
    width: 100%;
}

.titleStyle{
    font-size: 20px;
    font-family: "Playfair Display";
    font-weight: 'bold';
    font-family: 'Playfair Display';
    color: "rgb(7, 53, 66)"
}